body {
  background-image: url("https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg");
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.input-area {
  margin-bottom: 20px;
  position: relative;
}

.input {
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.input:focus {
  outline: none;
  border-bottom-color: #000;
}

input:focus + label span,
.input:not(:placeholder-shown) + label span {
  transform: translateY(-18px);
  font-size: 12px;
  color: #000;
}

#all, #ongoing, #done{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
button#addBtn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tab-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-type div {
  flex: 1;
  text-align: center;
  color: #777;
  cursor: pointer;
  position: relative;
}

.tab-type div:hover,
.tab-type div:focus {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.selected-tab {
  color: #000;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.task:last-child {
  margin-bottom: 0;
}

.task button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.task button:hover {
  transform: scale(1.2);
}

.task button img {
  width: 20px;
  height: 20px;
}
